n8n-agent/workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f74492c4-279d-4f21-9e74-ffc898b20661",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3P328p2WF6xLSQlK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "anything related to customer support like policy and product info"
            },
            {
              "category": "others",
              "description": "anything which is not related customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "b9985429-7f45-476b-a477-22fc4a7e2428",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        160
      ],
      "id": "7641cbe0-718a-426a-9ae9-7c9bb65545a7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z8Pk7uIzzel9yQvW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        340
      ],
      "id": "860f50c0-9bfc-4a8f-a552-c68d2b84aaf4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "= your are customer support agent for mizagency .your job is to respond to incoming email with relevant using your knowledgebase tool.\n##\n- your output should be friendly with using emojis\n-sign off as MR.musshu from miz agency\n##output\n-output only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        580,
        -89.5361339683686
      ],
      "id": "b1f4a9f0-aa2d-46a1-a623-d03bbc29660e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        120
      ],
      "id": "29d3e518-bffb-4069-a23f-29b6ae835e21",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "z8Pk7uIzzel9yQvW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access Policies and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "firstdemo",
          "mode": "list",
          "cachedResultName": "firstdemo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        900,
        160
      ],
      "id": "7bbec48c-0324-4b15-905e-634216061158",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QIqq80nuEancmLoV",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        980,
        380
      ],
      "id": "92c04a71-e726-4eb0-a18f-84270c1795a9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "z8Pk7uIzzel9yQvW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        940,
        -80
      ],
      "id": "c80ffec2-82df-464c-b442-6f5bc4da0707",
      "name": "Reply to a message",
      "webhookId": "55524462-5931-4101-8d77-5ab496e67081",
      "credentials": {
        "gmailOAuth2": {
          "id": "3P328p2WF6xLSQlK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "197f2e85023ed858",
          "threadId": "197f2e85023ed858",
          "snippet": "You allowed n8n.cloud access to some of your Google Account data buildaiteam@gmail.com If you didn&#39;t allow n8n.cloud access to some of your Google Account data, someone else may be trying to access",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 13627,
          "historyId": "1313",
          "internalDate": "1752126998000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Security alert",
          "From": "Google <no-reply@accounts.google.com>",
          "To": "buildaiteam@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1630d45f-a3f1-41e1-89f0-28c60e107841",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "678cd2a55fa4aa1fbb729b9cdcb784210d199a3b75a8ee9501110dc370510184"
  },
  "id": "QuTll7ChIifv9ng5",
  "tags": []
}